.container {
  display: flex;
  justify-content: center;/* 🔥 centra TODO */
}
.front {
    border: 2px solid #000000;
}
.cardFace {
flex-direction: column;
}
.main {
 
  display: flex;
  flex-direction: column;
  align-items: center;/* 🔥 centra contenido interno */
}

.progress {
  font-size: 1rem;
  font-weight: 600;
  color: #2a7cff;

  background: rgba(42, 124, 255, 0.1);
  padding: 6px 12px;

  border-radius: 999px;

  display: inline-flex; /* 🔥 mejor que inline-block */
  align-items: center;
  justify-content: center;

  letter-spacing: 0.5px;

  margin: 0; /* 🔥 eliminar margen raro */
}

/* 🔹 GRID OPCIONES */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 400px;
  margin-top: 10px;
}

.optionButton:hover {
  background: #f0f0f0;
}

.optionButton {
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: white;
}

/* 🔹 contenedor de opciones (reemplaza el style inline) */
.optionsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 800px;
  margin-top: 10px;
}


.header {
  text-align: center;
  max-width: 900px;
}

/* 🎯 TÍTULO */
.header h1 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #222;

  /* 🔥 efecto sutil */
  letter-spacing: 1px;
}

/* ✨ SUBTEXTO */
.header p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  margin:0px 5px;
}

/* Celular */
@media (max-width: 480px) {

  .optionsContainer {
    grid-template-columns: 1fr;
    /* 🔥 1 columna */

    width: 100%;
    max-width: 350px;

  }

  .optionButton {
    font-size: 14px;
    padding: 12px;
  }

  .header h1 {
    font-size: 1.4rem;
  }

  .header p {
    font-size: 0.85rem;
  }

  .grid {
    gap: 10px;
    width: 100%;
    margin-top: 10px;
  }

}