.primary {
  display: flex;
  background: #2a7cff;
  color: white;
  padding: 12px 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-color: #2a7cff;
}

.secondary {
  display: flex;
  background: #eee;
  color: #333;
  padding: 12px 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-color: #eee;
}
