.title {
  padding-top: 15px;
  margin: 0;
  text-align: center;
}
.subtitle {
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
}
.titlelist {
  margin: 0px 30px;
  justify-content: left;
}    
@media (max-width: 680px) {
    .titlelist {
    margin:0px 10px;
    }
}