.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.front {
    border: 2px solid #000000;
}
.back {
    background: #d0e7ff;
    border: 2px solid #007bff;
}

.layout {
    display: flex;
    height: calc(100vh - 119px);
}

/* 🔹 MAIN */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-top: 20px;
}
.menuButton {
    display: none;
    position: absolute;
    top: 70px;
    right: 10px;
    font-size: 22px;
    background: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}
.emptyContainer {
    height: calc(100vh - 139px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyBox {
    border: 2px dashed #bbb;
    padding: 30px 40px;
    border-radius: 12px;
    background: #fafafa;
    text-align: center;
    color: #444;
}

.emptyBox h3 {
    margin-bottom: 10px;
}

@media (max-width: 480px) {
    
    /* botón visible */
    .menuButton {
        display: block;
        z-index: 1;
    }

    /* layout vertical */
    .layout {
        flex-direction: column;
    }

    .main {
        width: 100%;
    }

}